<section class="sapageras">
    <img class="sapageras-img" src="img/img2png.webp" alt="">
    <div class="sapageras-content container">
        <h2>La palabra de nuestro señor Sam Pageras</h2>
        <p class="txt-p">
            Ya no sigas bebiendo agua, más bien, 
            toma un poco de vino debido a tu estómago y a que te enfermas con frecuencia.
        </p>
        <div class="sapageras-group">
            <div class="sapageras-1">
                <img src="img/jesus.jpg" alt="">
                <h3>Sam Pageras</h3>
                <p>
                    La prostitución, el vino y el vino nuevo
                    quitan las ganas de hacer lo que está bien.
                </p>
            </div>
            <div class="sapageras-1">
                <img src="img/maria.jpg" alt="">
                <h3>Sam Pageras</h3>
                <p>
                    La prostitución, el vino y el vino nuevo
                    quitan las ganas de hacer lo que está bien.
                </p>
            </div>
            <div class="sapageras-1">
                <img src="img/maria2.jpg" alt="">
                <h3>Sam Pageras</h3>
                <p>
                    La prostitución, el vino y el vino nuevo
                    quitan las ganas de hacer lo que está bien.
                </p>
            </div>
        </div>
        <a href="#" class="btn-1">infomación</a>
    </div>
</section>
