.sapageras{
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.sapageras-content{
    text-align: center;
}

.sapageras-content h2{
    font-size: 55px ;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.sapageras-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sapageras-1{ 
    padding: 0 25px;
}

.sapageras-1 img{
    width: 200px;
    border-radius: 15px;
}

.sapageras-img{
    position: absolute;
    top: 0;
    right: 0;
}

.sapageras-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}