<section class="blog container">
    <h2>santo en el cielo</h2>
    <p>Creo en un dios padre todo poderoso, creador del cielo y de la tierra</p>
    <div class="blog-content">
        <div class="blog-1">
            <img src="img/maria3.jpg" alt="">
            <h3>Santo es el señor</h3>
            <p>
            Entonces él dijo: “Tráeme algo de lo que cazaste para que me lo coma,
            hijo mío, y luego te bendeciré”. 
            Así que Karol le sirvió comida y vino, y él comió y bebió.
            </p>
        </div>
        <div class="blog-1">
            <img src="img/maria4.jpg" alt="">
            <h3>Santo es el señor</h3>
            <p>
            Entonces él dijo: “Tráeme algo de lo que cazaste para que me lo coma,
            hijo mío, y luego te bendeciré”. 
            Así que Leoporno le sirvió comida y vino, y él comió y bebió.
            </p>
        </div> 
        <div class="blog-1">
            <img class="imgg" src="img/santooooo.jpg" alt="">
            <h3>Santo es el señor</h3>
            <p>
            Entonces él dijo: “Tráeme algo de lo que cazaste para que me lo coma,
            hijo mío, y luego te bendeciré”. 
            Así que San Pajeras le sirvió comida y vino, y él comió y bebió.
            </p>
        </div> 
    </div>
    <a href="#" class="btn-1">Información</a>
</section>
