<header class="header">
    <div class="menu container">
        <a href="#" class="logo">logo</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="img/menu.png" class="menu-icono" alt="">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Biblia</a></li>
                <li><a href="#">Seguidores</a></li>
                <li><a href="#">Alaben al señor </a></li>
            </ul>
        </nav>
    </div>
    <div class="header-content container">
        <h1>SAM PAGERAS</h1>
        <p>
            Vete y come tu alimento con alegría y bebe tu vino con un corazón alegre,
            a que el Dios verdadero ya está contento con tus actividades atentamente Sam pageras. 
        </p>
        <a href="#" class="btn-1">Information</a>
    </div>
</header>